* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0ea5e9;
    --bg-color-grey: #e3e3e9;
    --bg-color-white: #fafafa;
    --shadow-color: #cfcfd3;
    font-family: "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr 60px;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    background-color: var(--bg-color-white);
    position: relative;
    box-shadow: 0px 4px 5px var(--shadow-color);
}

.header-one-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input {
    width: 90%;
    height: 25px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--bg-color-grey);
    box-shadow: 0px 3px 5px var(--shadow-color);
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

input:focus{
    outline: none;
    transform: scale(1.02);
    box-shadow: 0px 1px 4px var(--shadow-color);
}

.header-one-elements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.header-two-elements {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 110px;
    padding: 8px 3px;
    border-radius: 25px;
    background-color: var(--blue-color);
    color: var(--bg-color-white);
    border: none;
    box-shadow: 0px 3px 5px var(--shadow-color);
    transition: ease-in-out 0.3s;
    font-weight: bold;
}

button:hover {
    transform: scale(1.03);
    background-color: var(--bg-color-white);
    color: var(--blue-color);
    border: solid 2px var(--blue-color);
    box-shadow: 0px 1px 4px var(--shadow-color);
}

.header-two-buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    padding: 18px;
    background-color: var(--blue-color);
    color: var(--bg-color-white);
}

li {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 8px;
    transition: ease-in-out 0.3s;
}


li:hover {
    transform: scale(1.1);
}

.nav-one, .nav-two {
    padding-left: 20px;
    line-height: 20px;
}

.nav-one {
    grid-row: 2 / 3;
}

.nav-two {
    grid-row: 3 / 4;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    padding: 18px;
    background-color: var(--bg-color-grey);
}

.main-one {
    grid-column: 1/ 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 15px;
    column-gap: 20px;
}


.main-two {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    padding: 15px;
}

.article-container, .article-container-two {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--bg-color-white);
    box-shadow: 3px 5px 5px var(--shadow-color);
}

.article-container {
    margin-bottom: 20px;
}

.article-container > article:nth-child(1), .article-container > article:nth-child(2) {
    border-bottom: 2px solid var(--shadow-color);
}


article {
    padding: 12px;
    background-color: var(--bg-color-white); 
    transition: ease-in-out 0.2s;  
}

article > p {
    font-weight: 300;
}

article.card {
    max-height: 250px;
    padding: 15px;
    border-radius: 6px;
    border-left: 6px solid goldenrod;
    box-shadow: 3px 5px 5px var(--shadow-color);
    
}

article:hover {  
    transform: scale(1.03);
    box-shadow: 3px 3px 5px var(--shadow-color);
}

footer{
    grid-area: footer;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-white);
}

.title{
    display: flex;
    align-self: center;
    justify-content: center;
}