* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0ea5e9;
    --bg-color-grey: #e3e3e9;
    --bg-color-white: #fafafa;
    --shadow-color: #cfcfd3;
    font-family: "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr 60px;
    grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
}

/* HEADER AREA */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    background-color: var(--bg-color-white);
    position: relative;
    box-shadow: 0px 4px 5px var(--shadow-color);
}

.header-one-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-one-search:first-child::before {
    content: url(./icons/magnify.svg);
    height: 25px;
    width: 25px;
}

input {
    width: 90%;
    height: 25px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--bg-color-grey);
    box-shadow: 0px 3px 5px var(--shadow-color);
    font-weight: bold;
    transition: ease-in-out 0.3s;
}

input:focus{
    outline: none;
    transform: scale(1.02);
    box-shadow: 0px 1px 4px var(--shadow-color);
}

.header-one-elements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}

.header-one-elements > p::before {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.header-one-elements > p:first-child::before {
    content: url(./icons/bell-ring-outline.svg);
  
}

.header-two-elements {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.header-two-buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 110px;
    padding: 8px 3px;
    border-radius: 25px;
    background-color: var(--blue-color);
    color: var(--bg-color-white);
    border: none;
    box-shadow: 0px 3px 5px var(--shadow-color);
    transition: ease-in-out 0.3s;
    font-weight: bold;
}

button:hover {
    transform: scale(1.03);
    background-color: var(--bg-color-white);
    color: var(--blue-color);
    border: solid 2px var(--blue-color);
    box-shadow: 0px 1px 4px var(--shadow-color);
}

/* ASIDE AREA */

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr;
    padding: 18px;
    background-color: var(--blue-color);
    color: var(--bg-color-white);
}

.nav-one {
    grid-row: 2 / 3;
}

.nav-two {
    grid-row: 3 / 4;
}

.nav-one, .nav-two {
    padding-left: 30px;
    line-height: 20px;
}

aside > h2 {
    padding-left: 30px;
}

li {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 18px;
    transition: ease-in-out 0.3s;
    list-style: none;
    position: relative;
}

li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-one > ul > li::before, 
.nav-two > ul > li::before, 
aside > h2::before  {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    filter: invert(100%) sepia(59%) saturate(109%) hue-rotate(243deg) brightness(114%) contrast(96%);
    position: absolute;
    left: -30px
}

aside > h2::before {
    background-image: url(./icons/view-dashboard.svg);
    height: 33px;
    width: 33px;
    left: 10px;
    top: 16px;
}

.nav-one > ul > li:nth-child(1)::before {
    background-image: url(./icons/home.svg);
}

.nav-one > ul > li:nth-child(2)::before {
    background-image: url(./icons/card-account-details-outline.svg);
}

.nav-one > ul > li:nth-child(3)::before {
    background-image: url(./icons/message-reply.svg);
}

.nav-one > ul > li:nth-child(4)::before {
    background-image: url(./icons/clock-time-three.svg);
}

.nav-one > ul > li:nth-child(5)::before {
    background-image: url(./icons/file-multiple.svg);
}

.nav-one > ul > li:nth-child(6)::before {
    background-image: url(./icons/account-group.svg);
}


.nav-two > ul > li:nth-child(1)::before {
    background-image: url(./icons/cog.svg);
}

.nav-two > ul > li:nth-child(2)::before {
    background-image: url(./icons/help-box.svg);
}

.nav-two > ul > li:nth-child(3)::before {
    background-image: url(./icons/shield-check.svg);
}

/* MAIN AREA */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    padding: 18px;
    background-color: var(--bg-color-grey);
}

.main-one {
    grid-column: 1/ 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 15px;
    column-gap: 20px;
}


.main-two {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    padding: 15px;
}

.article-container, .article-container-two {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--bg-color-white);
    box-shadow: 3px 5px 5px var(--shadow-color);
}

.article-container {
    margin-bottom: 20px;
}

.article-container > article:nth-child(1), .article-container > article:nth-child(2) {
    border-bottom: 2px solid var(--shadow-color);
}


article {
    padding: 12px;
    background-color: var(--bg-color-white); 
    transition: ease-in-out 0.2s;  
}

article:hover {  
    transform: scale(1.03);
    box-shadow: 3px 3px 5px var(--shadow-color);
    cursor: default;
}

article > p {
    font-weight: 300;
}

article.card {
    max-height: 280px;
    padding: 15px;
    border-radius: 6px;
    border-left: 6px solid goldenrod;
    box-shadow: 3px 5px 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    
}

article.card > div > p:first-child::after {
    content: url(./icons/star-plus-outline.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 20px;
}

article.card > div > p:nth-child(2)::after {
    content: url(./icons/eye-plus-outline.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 20px;
}

article.card > div > p:last-child::after {
    content: url(./icons/share-variant-outline.svg);
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 20px;
}

article.card > div {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    display: flex;
    align-self: center;
    justify-content: center;
}

/* FOOTER AREA */

footer{
    grid-area: footer;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-white);
}

